# config.yaml
query: Model a financial banking system using a Core-Periphery network structure (a dense, highly connected core of 'major banks' and a sparse periphery of 'local banks'). Using a Threshold Cascade Model (where a node fails if $\ge 2$ neighbors fail), simulate a shock starting at (a)  two random core nodes vs (b) two random periphery node. Which initialization leads to a higher probability of systemic failure (global cascade), and how does the connectivity of the core impact stability?
name: "quesiton7"
workflow:
  copilot: False # whether to use copilot mode or not
  scientist_modules: # which modules to use in the scientist workflow, for reasoning models like openai's o3, planing might not be necessary
    plan: True
    reflect: True 
  reflection_max_iters: 1 # how many times the scientist can reflect (the higher is not necessarily better, start from lower values and increase if needed)
  no_retries: 50 # no  of scientist retries till generate the structured output
  no_paper_revise: 0 # no of times the scientist can revise the paper, best to test it with 0, if needed increase it to higher values

llm:
  scientists:
    provider: openai          # one of: openai, grok
    model: gpt-4.1   # model name

  experts:
    provider: openai
    model: gpt-4.1-mini

  mathematician_expert:
    provider: openai
    model: o3-mini

  vision_expert:            # make sure the model supports vision inputs!!!
    provider: openai
    model: gpt-4.1-mini

paths:
  output_dir: user-files
  contact_network_path: "none"
  data_path: "none"
