# config.yaml
query: "An epidemic has a reproductive number of R0 = 4, i.e. the mean excess degree of the effective network across which it is spreading is q = 4. Let's say the mean degree of this network is z = 3 and there are no degree correlations. You want to stop the epidemic by vaccinating people, using a vaccine that gives sterilizing immunity, so that a vaccinated person cannot transmit the disease. What proportion of the nodes do you need to vaccinate if you vaccinate random people? Also what proportion of nodes would you need to vaccinate if you are just vaccinating people who have a degree of exactly k = 10? address this question in both scenarios in analytcal and simulation approaches. User is not available to provide more information."
name: "question5"
workflow:
  copilot: False # whether to use copilot mode or not
  scientist_modules: # which modules to use in the scientist workflow, for reasoning models like openai's o3, planing might not be necessary
    plan: True
    reflect: True 
  reflection_max_iters: 1 # how many times the scientist can reflect (the higher is not necessarily better, start from lower values and increase if needed)
  no_retries: 20 # no  of scientist retries till generate the structured output
  no_paper_revise: 0 # no of times the scientist can revise the paper, best to test it with 0, if needed increase it to higher values
  time_out_tools: 360  # default timeout for tool execution in seconds

llm:
  scientists:
    provider: openai          # one of: openai, grok
    model: gpt-4.1   # model name

  experts:
    provider: openai
    model: gpt-4.1-mini

  mathematician_expert:
    provider: openai
    model: o3-mini

  vision_expert:            # make sure the model supports vision inputs!!!
    provider: openai
    model: gpt-4.1-mini

paths:
  output_dir: user-files
  contact_network_path: "none"
  data_path: "none"
